@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* Reduce font size so more content fits on the screen */
html {
    font-size: 14px;
}

/* Remove page margin */
body {
    @apply m-0 p-0 text-color bg-surface-50 dark:bg-surface-950;
}

/* nuxt active route styling */
.router-link-exact-active {
    @apply text-primary;
}

/* Make table loading overlay transparent (opacity is set in datatable for smooth transition) */
.p-datatable-mask {
    @apply rounded-lg opacity-0 transition-opacity duration-1000;
}

/* Increase height of select list container so more items fit without the need for a scrollbar */
.p-select-list-container {
    @apply !max-h-80;
}

/* Heights */
.c-h-full {
    height: calc(100vh - 6.5rem);
}
.c-min-h-full {
    min-height: calc(100vh - 6.5rem);
}
.c-max-h-full {
    max-height: calc(100vh - 6.5rem);
}

/* Colors */
.c-bg-region {
    @apply bg-surface-0 dark:bg-surface-900;
}
.c-text-error {
    @apply text-red-500 dark:text-red-400;
}
.c-border-color {
    @apply border-surface-200 dark:border-surface-700;
}

/* Basic container */
.c-card {
    @apply p-6 rounded-lg c-bg-region border c-border-color;
}
